<h1>Scrapped Data</h1>
  <div class="filter-links">
    <a href="/get_7days_data">Get last 7 day sold houses CSV</a>
    <a href="/get_30days_data">Get last 30 day sold houses CSV</a>
  </div>
<table>
  <tr>
    <th>ID</th>
    <th>Address</th>
    <th>Home Details</th>
    <th>Price</th>
    <th>Date</th>
  </tr>
  <% @scraper_data.each do |scraper| %>
    <tr>
      <td><%= scraper.id %></td>
      <td><%= scraper.address %></td>
      <td><%= scraper.home_details %></td>
      <td><%= scraper.price %></td>
      <td><%= scraper.date %></td>
    </tr>
  <% end %>
</table>
