<h1>Scraping has just started</h1>
  <div class="filter-links">
    <a href="/get_7days_data">Filter last 7 day sales</a>
    <a href="/get_30days_data">Filter last 30 day sales</a>
  </div>
<table>
  <tr>
    <th>ID</th>
    <th>Address</th>
    <th>Home Details</th>
    <th>Price</th>
    <th>Date</th>
  </tr>
  <span id= "results">
    <% Scraper.all.uniq.each do |scraper| %>
      <tr>
        <td><%= scraper.id %></td>
        <td><%= scraper.address %></td>
        <td><%= scraper.home_details %></td>
        <td><%= scraper.price %></td>
        <td><%= scraper.date %></td>
      </tr>
    <% end %>
  </span>
</table>

